POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jira_tickets
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMBEDDINGS_BASE_URL=http://localhost:11434
EMBEDDINGS_API_KEY=ollama
EMBEDDINGS_MODEL=nomic-embed-text

LLM_MODEL=gemma3:1b
LLM_BASE_URL=http://localhost:11434
